body {
    font-family: 'Roboto', sans-serif;
}


header,
footer {
    background-color: #1F2937;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top-links,
.intro-left p {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;   
    color: inherit; 
}

ul {
    list-style-type: none;    
    display: flex;
    gap: 10px;
}

.intro {
    display: flex;
    padding: 40px 200px 50px;
    justify-content: space-between;
}

.intro-left {
    max-width: 500px;
}

img {
    flex-shrink: 0;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro-left p {

}

.explore-more { /* the button */
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.random {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}

.box-cont {
    display: flex;
    gap: 20px;
}

.conti {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100px;
    margin-right: 30px;
}
.box {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100px;
}

.text {
    flex-wrap: wrap;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
    padding: 70px 300px; 
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-name {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 20px;
}

.adv-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 200px;
    padding: 30px;
}

.adv-text-top{
    font-size: 24px;
    color: #F9FAF8;
}

.adv-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.sign-up { /* the button */
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 15px;
    border-radius: 8px;
    border-color: white;
    text-align: center;
    font-weight: bold;
    max-width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
}